



.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title-img{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.card-title-img img{
    width: 120px;
    display: none;
}

.card-title-img .title-form {
    font-size: 2.8em;
    /* text-align: center; */
    margin-bottom: 10px;
    font-weight: 500;
    margin-left: 5px;
}


.banner-card {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.input-group .error {
    color: red;
    margin-left: 5px;
    margin-top: 5px;
}

.input-group input {
    padding: 10px;
    font-size: 1.3em;
    border: 1px solid rgba(29, 83, 29, 0.74);
    border-radius: 10px;
    padding-right: 50px;
}

.button-group {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.button-group button {
    font-size: 1.2em;
    padding: 5px;
    border: 1px solid rgb(15, 63, 19);
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 166, 0, 0.719);
    color: rgb(2, 21, 126);
}

.button-group button:hover {
    cursor: pointer;
}

.button-group p {
    text-align: justify;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 1.1em;
}

.button-group a {
    text-decoration: none;
    color: green;
    margin-left: 5px;
    font-size: 1.2em;
}

.button-group button:disabled {
    background-color: #c0c0c0; /* Cambia el color de fondo cuando está desactivado */
    opacity: 0.8; /* Reduce la opacidad cuando está desactivado */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" cuando está desactivado */
}
/*---------------------------------------*/



.password-input-container {
    position: relative;
}

button.show {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Ajusta el valor según tus necesidades */
    transform: translateY(-50%);
    /* Otros estilos del botón */
    border: none;
    background-color: white;
}

button:hover.show {
    cursor: pointer;
}


/*ESTILOS ERROR FIREBASE*/

.error-firebase{
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}



/*ESTILOS RESPONSIVE*/
@media only screen and (max-width: 767px) {
    .banner-card {
        display: none;
        /* background-color: red; */
    }


    .card-title-img {
        flex-direction: column;
    }
    .card-title-img img{
        display: inline-block;
        width: 150px;
    }

    .card-title-img .title-form {
        text-align: center;
    }

    .main-card {
        height: 100vh;
    }

    .form-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-card{
        margin: 10px;
    }
}


